<div class="container">

	<div class="row">
		<div class="col-md-12">


	<h1>Editing User</h1>

	<%= render 'form', user: @user %>
	<br>
	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', @user %>

		</div>
	</div>
	<br><br>
</div>		