<div class="container">

	<div class="row">
		<div class="col-md-12">
		<p id="notice"><%= notice %></p>
<div style="font-size: 20px;">
  <th>You Are Now Registered. To View Your Information Go To Your User Page If You Are Restaurant Or Supplier!</th>
</div>
		</div>
	</div>
</div>
