<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h2>Location and contact information</h2>
                <address>
                    <strong>Carnegie Mellon University</strong><br>
                    Education city<br>
                    Qatar<br>
                    CT24 7SH<br>
                    <abbr title="Phone">PHONE #</abbr> 01234 567 890
                </address>
        </div>
    </div>

    <div class="row"> 
        <div class="col-md-8">
          <iframe width="155%" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
        </div>
    </div>  

    <br>
</div>