<!-- <h1 style="margin-left: 490px">Products</h1>
<div style="margin-left: 350px; width: 400px"> -->

<div class="container">
  <div class="row">
    <br><br>
   <div class="col-md-12"> 
	   <%= render "carts/cart_item" %>
   </div>
  </div>
</div>



