
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>New Comment</h1>

      <%= render 'form', post: @post %>

      <%= link_to 'Back', posts_path %>
      <br>
      <br>
      <a href="/posts"><button class="button" style="vertical-align:middle, background-color: green "><span>View Comments </span></button></a>
    </div>
  </div>
</div>  

<br><br>

<style>
  .button {
      background-color: #4CAF50; /* Green */
      width:100px;
      height:50px;
      color: white;
      border-radius: 8px;

  }

  .button:hover {
      background-color: #3e8e41;
  }
</style>


 

<script>
  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
      } else {
          x.className = x.className.replace(" w3-show", "");
      }
  }
</script>

  