.xpress{
	padding: 29px 0 0 ;
	margin:0 !important;
	background-color: black;
}
.container {
    background-color: white;
}
.top-header {
    left: 0;
    max-width: 1140px;
    margin: 0 auto;
    right: 0;
/*    padding: 0 15px;*/
    background-color: black;
}
header {
    padding: 15px !important;
    overflow: hidden;
}
/*.img-tag-div {
    float: left;
}
.btn-login {
    float: right;
}*/
.btn-login button {
    padding: 8px 15px !important;
    margin: 20px 0 0 !important;
}
.img-tag-div h1 {
    font-size: 13px !important;
    margin: 23px 0 0 !important;
    color: black;
    text-align: center;
}
img.img-logo {
    width: 153px;
}
.xpress-img img {
    width: 100%;
}
.content-grid {
	max-width: 100% !important;
}

.w3-third.w3-center.xpress-img {
    width: 50%;
    float: left;
    padding: 10px;
    background: white;
}
.w3-twothird.content-data {
    width: 50%;
    padding: 15px;
    float: left;
}
.content-data {
	width:50%;
	padding-left: 30px;
}

.xpress .theme-backgroud {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("background-image.png");
     color: white !important;
     position:relative;
}

.supply {
    text-align: center;
}
.form-div {
    position: relative;
    width: 50%;
    border: 1px solid #46A27C;
    margin: 0 auto;
}
 .form-div input[type=submit]{
    background: black;
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 8px 40px;
    border: none;
}
.form-div input[type=text]{
    width: 100%;
    padding: 12px 15px;
    background: white;
    border: none;
    padding-right: 150px;
}
.product_list {
    overflow: hidden;
    padding: 0 15px;
    margin: 50px 0;
    border-bottom: 1px solid black;
}
.product_list li {
    border: 1px solid black;
    padding: 15px;
    margin: 0 15px 30px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.product_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.product-ul img {    width: 100%;    margin-bottom: 15px;}
.product-ul h3 {    color: white;    text-align: center;    line-height: normal;    background: #46A27C;    margin: 0;    padding: 10px 15px;    font-size: 20px;    text-transform: uppercase;}

.product-ul p {
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
}
.new_order_item input[type=submit] {
    background: black;
    color: white;
    font-size: 20px;
    padding: 8px 40px;
    border: none;
    margin-top: 10px;
}

form#new_order_item {
    background: #46A27C;
    color: white;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
}
.new_order_item h5{
    margin: 0 0 15px;
}

.table_responsive {
    width: 100%;
    overflow: auto;
}

.table_responsive th {
    background: #46A27C;
    color: white;
}

.table_responsive td {
    border: 1px solid #46A27C;
}

a.btn-anchor {
    background: black;
    color: white !important;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.form-product li {
    display: inline-block;
    width: 49%;
    padding: 0 15px;
}
ul.form-product {
    padding: 0;
    list-style: none;
}
.form-product input[type=date] {
    width: 100%;
    border: 1px solid #46A27C;
    height: 38px;
    border-radius: 2px;
}
.form-product input {
    width: 100%;
    border: 1px solid #46A27C;
    height: 38px;
    border-radius: 2px;
}
input.btn.btn-success.btn-submit-product {
    display: block;
    width: 100px;
    background: black;
}

li.file-choose input {
    border: none !important;
}

span.total-price {
    display: block;
    margin: 10px 0;
}
.cart-product {
    text-align: center;
    border-bottom: 1px solid #46A27C;
    padding-bottom: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}


.well.cart-item {
    margin: 0 auto;
    max-width: 600px;
}

.checkout-btn {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.checkout-btn button {
    background: black;
    color: white;
    border: none;
    padding: 10px 40px;
    width: 200px;
}